.login-page{
  width:100%;
  height:100vh;

  display:flex;

  overflow:hidden;

  background:#020617;

  position:relative;
}

/* BACK BUTTON */

.back-home-btn{
  position:absolute;

  top:30px;
  left:30px;

  display:flex;
  align-items:center;

  gap:10px;

  padding:12px 20px;

  border-radius:14px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  border:1px solid rgba(255,255,255,0.08);

  color:#00f5ff;

  text-decoration:none;

  z-index:100;

  transition:0.3s;
}

.back-home-btn:hover{
  transform:translateY(-3px);

  box-shadow:
    0 0 20px rgba(0,255,255,0.3);
}

/* LEFT */

.login-left{
  flex:1;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:40px;
}

.login-card{
  width:100%;
  max-width:450px;

  padding:45px;

  border-radius:25px;

  background:rgba(255,255,255,0.06);

  backdrop-filter:blur(14px);

  border:1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 0 40px rgba(0,255,255,0.12);
}

.login-card h1{
  text-align:center;

  margin-bottom:35px;

  color:#00f5ff;

  font-family:'Orbitron', sans-serif;
}

.input-group{
  margin-bottom:25px;
}

.input-group label{
  display:block;

  margin-bottom:10px;

  color:#cbd5e1;
}

.input-group input{
  width:100%;

  padding:15px;

  border:none;

  outline:none;

  border-radius:12px;

  background:rgba(255,255,255,0.08);

  color:white;

  border:1px solid transparent;

  transition:0.3s;
}

.input-group input:focus{
  border:1px solid #00f5ff;

  box-shadow:
    0 0 15px rgba(0,255,255,0.4);
}

.login-btn{
  width:100%;
    margin-top: 22px;
}

.success-text{
  color:#00f5ff;

  text-align:center;

  margin-bottom:20px;
}

/* LINKS */

.login-links{
  margin-top:25px;

  text-align:center;
}

.login-links a{
  color:#00f5ff;

  text-decoration:none;

  transition:0.3s;
}

.login-links a:hover{
  text-shadow:
    0 0 10px #00f5ff;
}

.login-links p{
  margin-top:15px;

  color:#cbd5e1;
}

/* RIGHT */

.login-right{
  flex:1;

  position:relative;

  overflow:hidden;
}

.login-right video{
  width:100%;
  height:100vh;

  object-fit:cover;
}

.video-dark-overlay{
  position:absolute;
  inset:0;

  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.7)
    );
}

.login-video-content{
  position:absolute;
  inset:0;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  z-index:2;

  padding:20px;
}

.login-video-content h2{
  font-size:3rem;

  color:#00f5ff;

  margin-bottom:20px;

  font-family:'Orbitron', sans-serif;
}

.login-video-content p{
  color:white;

  font-size:1.2rem;
}

/* MOBILE */

@media(max-width:900px){

  .login-page{
    flex-direction:column;
  }

  .login-right{
    display:none;
  }

  .login-left{
    width:100%;
  }

}